.userinfo{
    font-family: 'Helvetica Neue';
    margin-top: 20%;
    margin-left: 15%;
    /* background: pink; */
    width: 80%;
    height: 40vh;
}
.property{
    font-weight:bold;
    font-size: 20px;
    color: #707070;
}

.logout{
    color: #2E5BFF;
    position: fixed;
    display:inline-block;
    text-decoration: none;
    font-size: 24px;
    top:80vh;
    right:15vw;

}